@model BugTracker.Models.RegisterViewModel
@{
    ViewBag.Title = "AssignDeveloperToTicket";
}

<h2>Assign Developer to Project</h2>

@using (Html.BeginForm("AssignDeveloperToTicket", "UserManager", FormMethod.Post))
{
    <div>
        @Html.Label("Select Ticket")
        @Html.DropDownList("TicketName")
    </div>
    <div>
        @Html.Label("Select User")
        @Html.DropDownList("UserName")
    </div>

    <input type="submit" />
}


